#chart {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 50px;
  bottom: 0px;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 200px;					
    padding: 2px;				
    font: small;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
